<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>SVG ASSIGNMENT</title>
</head>
<body>
    <h1 class="main-header">10 top plants to fight Indoor air pollution</h1>
    <main>
      <section class="organization">
      <section class="plant-main">
      <section class="areca-palm water-2 water-3 sun-2 sun-3" data-offset="1">
          <h2>1. Areca Palm</h2>
          <div class="plant_wrapper ">
              <object data="images/Areca_Palm.svg" type="image/svg+xml" class="svg-graphic" id="plant"></object>
              <div class="see-more" data-target="1"><p>Click to  see more</p></div>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                  
                </div>
              
            </div>
      </section>
      <section class="dracaena water-1 water-3 sun-1 sun-3" data-offset="2">
          <h2>2. Dracaena</h2>
          <div class="plant_wrapper">
              <object data="images/dracaena.svg" type="image/svg+xml" class="svg-graphic" id="plant-two"></object>
              <span class="see-more" data-target="2"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                  
                </div>
          </div>
      </section>
      <section class="peace-lily water-1 water-3 sun-1 sun-3" data-offset="3">
          <h2>3. Peace Lily</h2>
          <div class="plant_wrapper">
              <object data="images/piece-lily.svg" type="image/svg+xml" class="svg-graphic" id="plant-three"></object>
              <span class="see-more" data-target="3"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                  
                </div>
          </div>
      </section>
      <section class="snake-plant water-1 water-2 sun-2 sun-3" data-offset="4">
          <h2>4. Snake Plant</h2>
          <div class="plant_wrapper">
              <object data="images/snake-plant.svg" type="image/svg+xml" class="svg-graphic" id="plant-four"></object>
              <span class="see-more" data-target="4"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                  
                </div>
          </div>
      </section>
      <section class="boston-fern water-2 water-3 sun-2 sun-3" data-offset="5">
          <h2>5. Boston Fern</h2>
          <div class="plant_wrapper">
              <object data="images/boston-fern.svg" type="image/svg+xml" class="svg-graphic" id="plant-five"></object>
              <div class="see-more" data-target="5"><p>Click to  see more</p>     
              </div>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                  
                </div>
          </div>
      </section>
      <section class="english-ivy water-1 water-2 sun-1 sun-2" data-offset="6">
          <h2>6. English Ivy</h2>
          <div class="plant_wrapper">
              <object data="images/english-evy.svg" type="image/svg+xml" class="svg-graphic" id="plant-six"></object>
              <span class="see-more" data-target="6"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                  
                </div>
          </div>
      </section>
      <section class="spider-plant water-1 water-3 sun-1 sun-3" data-offset="7">
          <h2>7. Spider plant</h2>
          <div class="plant_wrapper">
              <object data="images/spider-plant.svg" type="image/svg+xml" class="svg-graphic" id="plant-seven"></object>
              <span class="see-more" data-target="7"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                </div>
          </div>
      </section>
      <section class="rubber-plant water-1 water-3 sun-2 sun-3" data-offset="8">
          <h2>8. Rubber Plant</h2>
          <div class="plant_wrapper">
              <object data="images/rubber-plant.svg" type="image/svg+xml" class="svg-graphic" id="plant-eight"></object>
              <span class="see-more" data-target="8"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                  
                </div>
          </div>
      </section>
      <section class="philodendron water-1 water-3 sun-1 sun-3" data-offset="9">
          <h2>9. Philodendron</h2>
          <div class="plant_wrapper">
              <object data="images/philodendron.svg" type="image/svg+xml" class="svg-graphic" id="plant-nine"></object>
              <span class="see-more" data-target="9"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                  
                </div>
          </div>
      </section>
      <section class="aloe-vera water-1 water-2 sun-2 sun-3" data-offset="10">
          <h2>10. Aloe Vera</h2>
          <div class="plant_wrapper">
              <object data="images/aloe-vera.svg" type="image/svg+xml" class="svg-graphic" id="plant-ten"></object>
              <span class="see-more" data-target="10"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                </div>
                <div class="sunlight">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                  
                </div>
          </div>
      </section>
      <article class="popover">
          <!-- <h4 class="ipa-rating">IPA Rating</h4>
          <div class="ratings">Average Rating:</div> -->
          <p class="plant-description"></p>
        </article>
    </section>
    <section class="plant-rules">
      <div class="beggining">
      <h2>Plant Care Rules</h2>
      <div class="arrow">
        <img src="images/arrow.svg" alt="white arrow">
      </div>
    </div>
    <div class="water">
      <h2>Water</h2>
      <div class="water-img">
          <img src="images/water.svg" alt="water">
        </div>
      <div class="three-water">
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
        
      </div>
      <div class="water-rules"><p>Once in three days</p></div>
      
      <div class="two-water">
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
        
      </div>
      <div class="water-rules-two"><p>Once in week</p></div>
      <div class="one-water">
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
         
        
      </div>
      <div class="water-rules-three"><p>every three weeks</p></div>
    </div>
    <div class="water">
        <h2>Sunlight</h2>
        <div class="water-img">
            <img src="images/sunlight.svg" alt="sunlight">
          </div>
        <div class="three-sunlight">
            <div class="sunlight-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
            <div class="sunlight-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
            <div class="sunlight-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
          
        </div>
        <div class="sunlight-rules"><p>sunny side</p></div>
        
        <div class="two-water">
            <div class="water-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
            <div class="water-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
          
        </div>
        <div class="sunlight-rules-two"><p>half-shade</p></div>
        <div class="one-water">
            <div class="water-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
           
          
        </div>
        <div class="sunlight-rules-three"><p>shade</p></div>
      </div>
    </section>
    

      
       
    </section>
    </main>
    <script src="js/main.js"></script>
</body>
</html>